<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a1386c49-c101-412d-aa25-28f259a6558b/resourceGroups/ogarnij-agile/providers/Microsoft.Web/sites/ogarnij-agile</ResourceId>
    <ResourceGroup>ogarnij-agile</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ogarnij-agile.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ogarnij-agile.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ogarnij-agile</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ogarnij-agile</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ogarnijdbser.database.windows.net,1433;Initial Catalog=ogarnij_db;User ID=konstantyn@ogarnijdbser.database.windows.net;Password=ZQFpeNhh5V2Pb0" Name="Data Source=tcp:ogarnijdbser.database.windows.net,1433;Initial Catalog=ogarnij_db;User Id=konstantyn@ogarnijdbser.database.windows.net;Password=ZQFpeNhh5V2Pb0;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="zn1Web.ApplicationDbContext, zn1Web" MigrationConfiguration="zn1Web.Migrations.Configuration, zn1Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ogarnijdbser.database.windows.net,1433;Initial Catalog=ogarnij_db;User Id=konstantyn@ogarnijdbser.database.windows.net;Password=ZQFpeNhh5V2Pb0;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>