@{
    ViewBag.Title = "Home Page";
}


<div id="slide-show-home" class="carousel slide" data-ride="carousel" style="padding-top: 20px;">

	<ol class="carousel-indicators">
		<li data-target="#slide-show-home" data-slide-to="0" class="active"></li>
		<li data-target="#slide-show-home" data-slide-to="1"></li>
		<li data-target="#slide-show-home" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img src="~/images/logo.png" class="slide-image" alt="1">
		</div>

		<div class="item">
			<img src="~/images/logo.png" class="slide-image" alt="2">
		</div>

		<div class="item">
			<img src="~/images/logo.png" class="slide-image" alt="3">
		</div>
	</div>
	<a class="left carousel-control" href="#slide-show-home" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#slide-show-home" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<div style="height: 300px; background-color: #3ea335;padding-top: 20px;">
	FIRST
</div>
<div style="height: 300px; background-color: #cdcccc;padding-top: 20px;">
	SECOND
</div>
<div style="height: 300px; background-color: #1d3ea7;padding-top: 20px;">
	THIRD
</div>
<div style="height: 300px; background-color: #3ea335;padding-top: 20px;">
	FOURTH
</div>