@{
    ViewBag.Title = "Home Page";
}
<div id="slide-show-home" class="carousel slide" data-ride="carousel" style="padding-top: 20px; height: 300px;">

	<ol class="carousel-indicators">
		<li data-target="#slide-show-home" data-slide-to="0" class="active"></li>
		<li data-target="#slide-show-home" data-slide-to="1"></li>
		<li data-target="#slide-show-home" data-slide-to="2"></li>
		<li data-target="#slide-show-home" data-slide-to="3"></li>
		<li data-target="#slide-show-home" data-slide-to="4"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<center>
				<img src="~/images/logo.png" class="slide-image" alt="1">
			</center>
		</div>

		<div class="item">
			<center>
				<a href="http://2016.agilekonferencja.pl/">
					<img src="~/images/logo-blue-2.png" class="slide-image" alt="2">
				</a>
			</center>
		</div>

		<div class="item">

			<center>
				<a href="http://intel.pl">
					<img src="~/images/Intel.png" class="slide-image" alt="3">
				</a>
			</center>
		</div>
		<div class="item">
			<center>
				<a href="http://wygramy.co/">
					<img src="~/images/wyGRAmy_square-300x300.png" class="slide-image" alt="4">
				</a>
			</center>
		</div>
		<div class="item">
			<center>
				<a href="http://agileitkonferencja.pl/#">
					<img src="~/images/smarter_square-300x300.png" class="slide-image" alt="5">
				</a>
			</center>
		</div>

	</div>

	<a class="left carousel-control" href="#slide-show-home" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#slide-show-home" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<div style="height: 300px; background-color: #3ea335;padding-top: 20px;">
	<center><h1><font color="white">Rejestracja na konferencję Ogarnij Agile</font></h1></center>
	<center><h3><font color="white">W coraz szybciej zmieniającym się świecie, tylko dzięki równie szybkiej adaptacji do nowych warunków można uczynić ze zmiany szansę. „Agile”, czyli podejścia zwinne, pozwalają na taką właśnie interakcję zespołów z otoczeniem.
	Dzięki temu „Agile” napędza dzisiaj świat - nie tylko w dziedzinie wytwarzania oprogramowania, ale także szeroko pojętego IT i w wielu innych dziedzinach businessu. Proponujemy Wam spotkanie ze zwinnością, które pozwoli ci zrozumieć „Agile”.</font></h3></center>
	<p align="right"><a href="http://ogarnij-agile-dev.azurewebsites.net/Home/ConferenceRegister" class="btn btn-primary btn-lg" role="button">Dołącz do Nas</a></p>
</div>

<div style="height: 300px; background-color: #cdcccc;padding-top: 20px;">
	COś tu będzie
</div>
	<div class="container-fluid ast"; style="background-color: #1d3ea7";">
		<center><h1><font color="white">Prelengenci</font></h1></center>
			<div class="row">
				<div class="col-sm-4">
					<center>
						<div class="een">
							<p class="drie">dr inż. Artur Ziółkowski</p>
							<img src="~/images/artur_ziolkowski_400x500-400x500-400x400.jpg">
						</div>
					</center>
				</div>
				<div class="col-sm-4">
					<center>
						<div class="een">
							<p class="drie">Marcin Stefański</p>
							<img src="~/images/marcin_600-400x400.jpg">
						</div>
					</center>
				</div>
				<div class="col-sm-4">
					<center>
						<div class="een">
							<p class="drie">Lech Wypychowski</p>
							<img src="~/images/lechwypychowski-400x400.jpg">
						</div>
					</center>
				</div>
			</div>
		</div>
	<div class="container-fluid ast" ; style="background-color: #3ea335" ;>
		<center><h1><font color="white"> Dane Kontaktowe</font></h1></center>
		<div class="row">
			<div class="col-sm-4">
				<p><font size="6" color="white">Wyższa Szkoła Bankowa w Gdańsku</font></p>
				<p><font size="4" color="white">Adres: Aleja Grunwaldzka 238A</font></p>
				<p><font size="4" color="white">Kod pocztowy:80-266 Gdańsk</font></p>
				</div>
				<div class="col-sm-4">
					</div>
					<div class="col-sm-4">
						<center>
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2323.1831644481013!2d18.58210291627128!3d54.38907968021079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spl!2spl!4v1511958845825" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
						</center>
					</div>

				</div>
		</div>
