@model zn1Web.Models.AgendaViewModel 
@{
    ViewBag.Title = "Report";
}

    <h2>Raport</h2>
<div class="container">

	<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiYzZhYTcyYmItNWU5Yi00M2ViLWI3YTctYzRjMTliMzE4YjhjIiwidCI6ImFkZGYwMmNhLWY1ZDEtNDAzMy05MzI0LWU4NjY0YTA0ZDZkZCIsImMiOjh9" frameborder="0" allowFullScreen="true">

	</iframe>
</div>